version: '3'

networks:
    laravel:

services:
    nginx:
        image: nginx:stable-alpine
        container_name: nginx
        ports:
            - "8088:80"
        volumes:
            - ./brochini:/var/www/html
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on: 
            - php
            - mysql
        networks:
            - laravel
    
    mysql:  
        image: mysql:5.7.22
        container_name: mysql
        restart: unless-stopped
        tty: true
        ports:
            - "3306:3306"
        volumes:
            - ./mysql:/var/lib/mysql
        environment: 
            MYSQL_DATABASE: homestead
            MYSQL_USER: homestead
            MYSQL_PASSWORD: secret
            MYSQL_ROOT_PASSWORD: root
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        networks:
            - laravel  
    php:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: php
        volumes:
            - ./brochini:/var/www/html
        ports: 
            - "3000:3000"
        networks: 
            - laravel
    
    composer:
        image: composer:latest
        container_name: composer
        volumes:
            - ./brochini:/var/www/html
        working_dir: /var/www/html
        networks: 
            - laravel
    artisan:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: artisan
        volumes: 
            - ./brochini:/var/www/html
        depends_on: 
            - mysql
        working_dir: /var/wwww/html
        entrypoint: ['/var/www/html/artisan']
        networks: 
            - laravel